// COMMON :: START

.section {
  background-image: url('../img/img-face-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.section--fundraising {
    background-image: url('../img/img-face-1-bg.svg');
    background-position: right bottom;
    background-size: unset;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 100vh;
    min-height: 100vh;
    //max-height: 100vh;
    padding-top: 88px;
    padding-bottom: 88px;
    @include adaptive(767) {
      height: auto;
      max-height: unset;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    > div {
      width: 100%;
    }
  }
}

.c-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 10px;
  @include adaptive(767) {
    min-width: 200px;
  }

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F1F1F2;
    background-color: #4C4355;

    > a {
      display: flex;
      align-items: center;
      min-height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      @include adaptive(767) {
        padding-left: 10px;
      }

      > img {
        display: block;
        max-width: 24px;
        height: auto;

        & + span {
          padding-left: 15px;
        }
      }

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        padding-right: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 190px;

    &:hover {
      .c-dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        &__toggle {
          border-color: #fff;

          .icon-font {
            color: #df1931;
            transform: scaleY(-1);
          }
        }
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    border: 1px solid #4C4355;
    background-color: transparent;
    @include adaptive(767) {
      padding-left: 10px;
      padding-right: 5px;
    }

    > img {
      display: block;
      max-width: 24px;
      height: auto;

      & + span {
        padding-left: 15px;
      }
    }

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 100%;
      padding-right: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
        @include adaptive(767) {
          display: none;
        }
    }

    .icon-font {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      font-size: 12px;
      color: #ffffff;
      @include adaptive(767) {
        width: 30px;
      }
    }
  }
}

#fundraisingOverlay {
  z-index: 999;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(24px);
}

.mfp-bg {
  opacity: 0;
  background-color: transparent;
}

.c-modal#fundraisingDonation {
  width: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px 50px;
  border: 1px solid #FFFFFF;
  background-color: #1E1A22;

  .mfp-close {
    opacity: 1;
    color: #ffffff;
  }

  .c-modal {
    &__logo {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }

    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #FFFFFF;
    }

    &__line {
      width: 40px;
      height: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
      margin-bottom: 16px;
      border-radius: 5px;
      background-color: #DF1931;
    }

    &__desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;

      &:nth-of-type(1) {
        padding-bottom: 30px;
      }

      &:nth-of-type(2) {
        padding-bottom: 25px;
      }

      span {
        color: #df1931;
      }

      &-wrapper {
        width: 100%;
        max-width: 545px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .temporary__form {
    width: 100%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-modal#playgroundFilter {
  width: 100%;
  max-width: 547px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px 50px;
  border: 1px solid #FFFFFF;
  background-color: #1E1A22;

  .mfp-close {
    opacity: 1;
    color: #ffffff;
  }

  .c-modal {
    &__title {
      padding-bottom: 8px;
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #FFFFFF;
    }

    &__line {
      width: 40px;
      height: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
      border-radius: 5px;
      background-color: #DF1931;
    }

    &__clear {
      padding-left: 20px;
      padding-right: 40px;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 387px;
      margin-left: auto;
      margin-right: auto;

      &-group {
        display: flex;
        flex-wrap: wrap;

        .c-modal__form-field {
          margin-bottom: 0;
        }

        > div {
          flex: 1;
          min-width: 1px;
          max-width: 100%;
          @include adaptive(767) {
            flex: 100%;
          }

          &:not(:last-of-type) {
            margin-right: 12px;
            @include adaptive(767) {
              margin-right: 0;
              margin-bottom: 17px;
            }
          }
        }
      }

      &-field {
        position: relative;
        margin-bottom: 34px;

        label {
          display: flex;
          width: 100%;

          .c-dropdown {
            &__wrapper {
              max-width: 100%;
            }

            &__toggle {
              span {
                @include adaptive(767) {
                  display: block;
                }
              }
            }
          }

          input {
            outline: none;
            position: relative;
            display: flex;
            width: 80px;
            height: 40px;
            padding: 0 15px;
            margin: 0;
            border-radius: 4px;
            border: 1px solid #4C4355;
            box-shadow: none;
            background-color: transparent;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #F1F1F2;
            @include inputPlaceholder {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #F1F1F2;
            }
            @include adaptive(767) {
              flex: 1;
              min-width: 1px;
              max-width: 100%;
            }
          }

          > u {
            position: relative;
            flex: 1;
            min-width: 1px;
            max-width: 100%;
            margin-left: 5px;
            margin-right: 5px;

            &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 12px;
              height: 1px;
              background-color: #ffffff;
            }
          }
        }

        .c-btn {
          flex: 1;
          min-width: 1px;
          max-width: 100%;

          &__wrapper {
            align-items: center;
            padding-top: 12px;
          }
        }
      }

      &-label {
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
  }
}

// COMMON :: END
