// SECTION :: START

section#deals.deals
  .c-grid
    .deals__wrapper.deals__wrapper-1
      .deals__wrapper-head(style='padding-bottom: 0;')
        div
          h2.wo-line Deals List
        div

          .deals__form
            label
              input(type='text' name='' placeholder="Search...")
              a(href="#")
                i.icon-font.icon-search

          .staking__toggle
            a.is-active(href="#") All
            a(href="#") Upcoming
            a(href="#") Open
            a(href="#") Closed

    .deals__wrapper.deals__wrapper-2
      .deals__wrapper-head
        div
          h2 Upcoming Deals
        div

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              span Filter by
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  span Action 1
                a(href="#")
                  span Action 2

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              span Sort by
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  span Action 1
                a(href="#")
                  span Action 2

      .deals__wrapper-body

        .deals__box-wrapper
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-1.png" srcset="img/img-deals-1@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Warmachine
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-2.png" srcset="img/img-deals-2@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Planet
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-3.png" srcset="img/img-deals-3@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Defender
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-4.png" srcset="img/img-deals-4@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Split Cards
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open

      .deals__wrapper-footer
        .deals__btn.c-btn__wrapper.c-btn__wrapper--center
          a.c-btn(href="#") Show More


    .deals__wrapper.deals__wrapper-3
      .deals__wrapper-head
        div
          h2 Open Deals
        div

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              span Filter by
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  span Action 1
                a(href="#")
                  span Action 2

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              span Sort by
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  span Action 1
                a(href="#")
                  span Action 2

      .deals__wrapper-body
        .deals__box-wrapper
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-1.png" srcset="img/img-deals-1@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Warmachine
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-2.png" srcset="img/img-deals-2@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Planet
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-3.png" srcset="img/img-deals-3@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Defender
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open
          div
            .deals__box
              .deals__box-head
                div
                  img(src="img/img-deals-4.png" srcset="img/img-deals-4@2x.png 2x" alt="")
              .deals__box-body
                p.deals__box-title
                  span Split Cards
                  img(src="img/icon-polygon.svg" alt="")
                .deals__box-info
                  div
                    p Total Raised
                  div
                    p $500.000
              .deals__box-footer
                .c-btn__wrapper
                  a.c-btn(href="#")
                    span Starts in 10 days
                    span Open

      .deals__wrapper-footer
        .deals__btn.c-btn__wrapper.c-btn__wrapper--center
          a.c-btn(href="#") Show More



// SECTION :: END
