// SECTION :: START

section#venture.venture
  .c-grid
    .venture__wrapper

      .venture__visual-wrapper
        .venture__visual
          img(src="img/img-venture.svg" alt="")
          .venture__visual-title Welcome to the LeverageDAO

      p.venture__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.

// SECTION :: END
