// SECTION :: START

section#overview.overview
  .c-grid

    h2.overview__title Overview
    .overview__line
    p.overview__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

    .overview__wrapper

      .overview__block-wrapper
        div
          .overview__block
            .overview__block-head
              img(src="img/add-wallet.svg" alt="")
            .overview__block-body
              p.overview__block-title Deposit
              .overview__block-line
              p.overview__block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div
          .overview__block
            .overview__block-head
              img(src="img/latest.svg" alt="")
            .overview__block-body
              p.overview__block-title Time Period
              .overview__block-line
              p.overview__block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div
          .overview__block
            .overview__block-head
              img(src="img/logo.svg" alt="")
            .overview__block-body
              p.overview__block-title Reward
              .overview__block-line
              p.overview__block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// SECTION :: END
