// SECTION :: START

section#welcome.welcome
  .c-grid

    img.welcome__logo(src="img/icon-welcome.svg" alt="")

    .welcome__wrapper

      h1.welcome__title Welcome! Our fundraising has started!

      .welcome__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#") Tokenomics
        a.c-btn(href="#") Sale Guide

      p.welcome__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

// SECTION :: END
