// SECTION :: START

section#menu.menu

  .menu__block-wrapper
    div
      a.menu__block(href="#")
        .menu__block-bg
        .menu__block-content
          h3 Staking
          hr
          p Provide liquidity and receive bonus yield in the form of $RSIST emissions
    div
      a.menu__block(href="#")
        .menu__block-bg
        .menu__block-content
          h3 Playground
          hr
          p Our OTC marketplace to buy, sell and trade pre-release tokens.
    div
      a.menu__block(href="#")
        .menu__block-bg
        .menu__block-content
          h3 Bridge
          hr
          p Coming soon. Simple, low-cost stable multi-chain stable bridging.
    div
      a.menu__block(href="#")
        .menu__block-bg
        .menu__block-content
          h3 Venture
          hr
          p Click here to learn how $RSIST token holders can participate in our DAO's venture investments.
    div
      a.menu__block(href="#")
        .menu__block-bg
        .menu__block-content
          h3 Toolkit
          hr
          p Click here to learn your DAO's can use our Venture Window toolkit to automate your fundraising.
    div
      a.menu__block(href="#")
        .menu__block-bg
        .menu__block-content
          h3 Learn More
          hr
          p Find out how to participate in our dynamic public sale, read our whitepaper and more.

// SECTION :: END
