// SECTION :: START

section#temporary.temporary

  .temporary__block

    h1.temporary__title We’re building,
    .temporary__line
    p.temporary__subtitle Please leave your email, <br>and we’ll notify you once it’s done

    form.temporary__form
      div
        label
          input(type='email' name='' placeholder='Enter your email' required)
      div
        .c-btn__wrapper
          button.c-btn.c-btn--bg(type='submit') Subscribe


// SECTION :: END
