---
title: The DeFiance DAO

pageClassName: p-bridge
bodyClassMod: true
---
extends shared/_layout

block header
block footer
block content
  main.main.main--start(class!= pageClassName)

    include components/bridge/bridge

