// FOOTER :: START

footer#footer.footer.footer--wbg(class!= (footerModClassName)?'footer--iconWhite':'')
  .c-grid
    .footer__wrapper

      .footer__social
        a(href="#")
          i.icon-font.icon-medium
        a(href="#")
          i.icon-font.icon-twitter
        a(href="#")
          i.icon-font.icon-discord

// FOOTER :: END
