// HEADER :: START

nav#header.header.header--inner

  .header__wrapper
    .header__wrapper-left

      .header__back.c-btn__wrapper
        a.c-btn(href="#")
          i.icon-font.icon-chevron-down
          span Back to Deals

    .header__wrapper-right

      .c-dropdown__wrapper
        a.c-dropdown__toggle(href="#")
          img(src="img/icon-ethereum.svg" alt="")
          span Ethereum
          i.icon-font.icon-chevron-down
        .c-dropdown
          div
            a(href="#")
              img(src="img/icon-ethereum.svg" alt="")
              span Ethereum
            a(href="#")
              img(src="img/icon-polygon.svg" alt="")
              span Polygon

      .c-dropdown__wrapper
        a.c-dropdown__toggle(href="#")
          span 0xF21F0aF21F0aF21F0aF21F0a
          i.icon-font.icon-chevron-down
        .c-dropdown
          div
            a(href="#")
              span 0xF21F0aF21F0aF21F0aF21F0a
            a(href="#")
              span 0xF21F0aF21F0aF21F0aF21F0a

// HEADER :: END
