// HEADER :: START

nav#header.header

  .header__wrapper
    .header__wrapper-left

      .logo.logo--header
        a.logo__btn(href="#")
          img(src="img/logo-black.svg" alt="")
          img(src="img/logo-icon.svg" alt="")

    .header__wrapper-right

      .c-btn__wrapper
        a.c-btn(href="#")!= "Join <span> the Resistance</span>"

// HEADER :: END
