// LOGOTYPE :: START

.logo {
  display: flex;

  &.logo--header {
    .logo {
      &__btn {
        img {
          &:nth-of-type(1) {
            @include adaptive(767) {
              display: none;
            }
          }
          &:nth-of-type(2) {
            display: none;
            @include adaptive(767) {
              display: block;
            }
          }
        }
      }
    }
  }

  &.logo--playground {
    width: 100%;
    max-width: 312px;

    .logo {
      &__btn {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: flex-start;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

// LOGOTYPE :: END
