// HEADER :: START

.header {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding-left: 70px;
    padding-right: 70px;
    @include adaptive(1279) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

// HEADER :: END
