// HEADER :: START

.header {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.header--inner {
    .header {
      &__wrapper {
        &-right {
          .c-btn {
            height: 40px;
            margin-left: 16px;
            font-size: 16px;
          }
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding-left: 70px;
    padding-right: 70px;
    @include adaptive(1279) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-right {
      display: flex;
      align-items: center;

      .c-btn {
        white-space: nowrap;

        span {
          padding-left: 4px;
        }
      }
    }
  }

  &__back {
    .c-btn {
      height: 32px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 0;

      .icon-font,
      span {
        color: #ffffff;
      }

      .icon-font {
        transform: rotate(90deg);
        font-size: 12px;

        & + span {
          padding-left: 18px;
        }
      }

      span {
        font-size: 14px;
      }
    }
  }

  .c-dropdown__wrapper {
    & + .c-dropdown__wrapper {
      margin-left: 16px;
    }
  }
}

// HEADER :: END
