// SECTION :: START

section#upcoming.upcoming
  .c-grid
    .upcoming__wrapper
      .upcoming__wrapper-left

        .upcoming__wrapper-head

          .upcoming__countdown
            p.upcoming__countdown-title Starts in
            #upcomingCountdown

        .upcoming__wrapper-body

          ul.upcoming__list
            li
              div
                p Token Price:
              div
                p ~0.20 USDC
                img(src="img/icon-polygon.svg" alt="")
            li
              div
                p Available Amount:
              div
                p 145,000.00
                img(src="img/icon-polygon.svg" alt="")
            li
              div
                p Total Raised:
              div
                p $125,000
            li
              div
                p Supported Stable Coins:
              div
                img(src="img/icon-polygon.svg" alt="")
                img(src="img/icon-polygon.svg" alt="")

          ul.upcoming__info
            li
              div
                span Opes At:
              div
                p 1:00 PM, Jun 10, 2022
            li
              div
                span Ends At:
              div
                p 1:00 PM, Jul 15, 2022

        .upcoming__wrapper-footer

          nav.upcoming__sosial
            a(href="#")
              i.icon-font.icon-facebook-logo
            a(href="#")
              i.icon-font.icon-medium-logo
            a(href="#")
              i.icon-font.icon-twitter-logo
            a(href="#")
              i.icon-font.icon-discord-logo

      .upcoming__wrapper-right

        .upcoming__header
          div
            img(src="img/img-upcoming-header.png" srcset="img/img-upcoming-header@2x.png 2x" alt="")
          div
            p After the Future (ATR)
            label Upcoming

        .upcoming__content

          h2 General Information
          hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet error excepturi hic maiores molestiae officia perspiciatis tempore. Dolore dolorum libero molestias, non odit quaerat voluptates! Alias cum illo nihil rem!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet animi, assumenda blanditiis deserunt dolore doloremque ea eius enim error eum ex exercitationem, hic iusto laboriosam mollitia natus nesciunt nihil optio perspiciatis quas quasi quod quos vero vitae voluptatum!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolores eius explicabo in inventore sapiente tempora veniam! Accusantium architecto aspernatur beatae cum cupiditate deserunt dolorum, enim fugiat impedit inventore laudantium natus nesciunt nihil nobis non nulla optio porro quidem quos repellat, sequi sint suscipit tempora tempore unde ut vel voluptates.

// SECTION :: END
