-
  const project = 'The DeFiance DAO';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '100'
    }, {
      name: 'Menu',
      href: 'menu.html',
      progress: '100'
    }, {
      name: 'Temporary Page',
      href: 'temporary-page.html',
      progress: '100'
    }, {
      name: 'Staking',
      href: 'staking.html',
      progress: '100'
    }, {
      name: 'Fundraising',
      href: 'fundraising.html',
      progress: '100'
    }, {
      name: 'Bridge',
      href: 'bridge.html',
      progress: '100'
    }, {
      name: 'Venture',
      href: 'venture.html',
      progress: '100'
    }, {
      name: 'Playground - step 1',
      href: 'playground-step-1.html',
      progress: '100'
    }, {
      name: 'Playground - step 1-1',
      href: 'playground-step-1-1.html',
      progress: '100'
    }, {
      name: 'Playground - step 2',
      href: 'playground-step-2.html',
      progress: '100'
    }, {
      name: 'Playground - step 3',
      href: 'playground-step-3.html',
      progress: '100'
    }, {
      name: 'Playground - step 4',
      href: 'playground-step-4.html',
      progress: '100'
    }, {
      name: 'Playground - step 5',
      href: 'playground-step-5.html',
      progress: '100'
    }, {
      name: 'Playground - step 6',
      href: 'playground-step-6.html',
      progress: '100'
    }, {
      name: 'Playground - step 7',
      href: 'playground-step-7.html',
      progress: '100'
    }, {
      name: 'Playground - step 8',
      href: 'playground-step-8.html',
      progress: '100'
    }, {
      name: 'Playground - step 9',
      href: 'playground-step-9.html',
      progress: '100'
    }, {
      name: 'Upcoming Deal',
      href: 'upcoming-deal.html',
      progress: '1'
    }, {
      name: 'Upcoming Deal - Open',
      href: 'upcoming-deal-open.html',
      progress: '1'
    }, {
      name: 'Upcoming Deal - Deposit',
      href: 'upcoming-deal-deposit.html',
      progress: '1'
    }
  ];
