// SECTION :: START

.welcome {
  padding-top: 30px;
  padding-bottom: 35px;
  @include adaptive(767) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .c-grid {
    padding-left: 20px;
    padding-right: 20px;
  }


  &__logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @include adaptive(767) {
      max-width: 175px;
    }
  }

  &__title {
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
  }

  &__btn {
    padding-bottom: 25px;
    @include adaptive(767) {
      flex-direction: column;
    }

    .c-btn {
      margin-left: 8px;
      margin-right: 8px;
      @include adaptive(767) {
        width: 100%;
        margin: 0;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__desc {
    width: 100%;
    max-width: 824px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
}

// SECTION :: END
