// SECTION :: START

section#playground.playground

  .staking__header
    .staking__header-wrapper
      div

      .staking__header-mobile(mobile-block-js)
        div
        div
          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              img(src="img/icon-ethereum.svg" alt="")
              span Ethereum
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  img(src="img/icon-ethereum.svg" alt="")
                  span Ethereum
                a(href="#")
                  img(src="img/icon-polygon.svg" alt="")
                  span Polygon

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              span 0xF21F0aF21F0aF21F0aF21F0a
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  span 0xF21F0aF21F0aF21F0aF21F0a
                a(href="#")
                  span 0xF21F0aF21F0aF21F0aF21F0a


  .playground__section
    .playground__section-left
      div

        a.playground__box(href="#" class!= classMod)
          .playground__box-top
            div
              img(src="img/circle-logo.svg" alt="")
              p preRSIST
            div
          .playground__box-head
            div
              .playground__box-visual
                img(src="img/img-venture.svg" alt="")
                p 100

    .playground__section-right
      div

        h2.playground__title Make Offer

        form.playground__form(action='' method='' autocomplete='off')
          .playground__form-field
            p.playground__form-label Amount
            label
              input(type='text' name='' placeholder='')
              img(src="img/logo-playground.png" srcset="img/logo-playground@2x.png 2x" alt="")
              span / 6571.22 USDC
          .playground__form-field
            p.playground__form-label Offer
            label
              input(type='text' name='' placeholder='')
              img(src="img/logo-playground.png" srcset="img/logo-playground@2x.png 2x" alt="")
              span / 6571.22 USDC
          .playground__form-field
            p.playground__form-label Offer Expires
            .c-dropdown__wrapper
              a.c-dropdown__toggle(href="#")
                span 1 day
                i.icon-font.icon-chevron-down
              .c-dropdown
                div
                  a(href="#")
                    span 2 day
                  a(href="#")
                    span 3 day

        .c-btn__wrapper.c-btn__wrapper--center
          a.c-btn.c-btn--bg(href="#") Make Offer

        a.playground__back(href="#") Back to Playground

// SECTION :: END
