// SECTION :: START

section#playground.playground
  .playground__section
    .playground__section-left
      div

        a.playground__box(href="#" class!= classMod)
          .playground__box-head
            .playground__box-header
              div
                span 12eij13jlk12312asdioasdgaosdb
              div
                p.playground__box-badge!= '14h 34m 35s'
            .playground__box-num
              img(src="img/img-playground-box-bg.svg" alt="")
              p!= '345'
          .playground__box-body
            ul.playground__box-list
              li
                div
                  p Amount
                div
                  p 345.00
              li
                div
                  p Current bid
                div
                  img(src="img/logo-playground.png" srcset='img/logo-playground@2x.png 2x' alt="")
                  p 1453.00
              li
                div
                  p Buy now price
                div
                  img(src="img/logo-playground.png" srcset="img/logo-playground@2x.png 2x" alt="")
                  p 2100.00

    .playground__section-right
      div

        h2.playground__title Connect your wallet to place a bid.

        .c-btn__wrapper.c-btn__wrapper--center
          a.c-btn.c-btn--bg(href="#") Connect Wallet

        a.playground__back(href="#") Back to Playground

// SECTION :: END
