// SECTION :: START

section#staking.staking

  .staking__header
    .staking__header-wrapper
      div

        .logo.logo--staking
          a.logo__btn(href="#")
            img(src="img/logo-icon.svg" alt="")

        +hamburger()

      .staking__header-mobile(mobile-block-js)
        div

          nav.staking__header-nav
            a(href="#") Staking
            a.is-active(href="#") Playground
            a(href="#") Bridge
            a(href="#") Venture
            a(href="#") Toolkit

        div

          a.staking__header-btn(href="#") Buy $RSIST

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              img(src="img/icon-ethereum.svg" alt="")
              span Ethereum
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  img(src="img/icon-ethereum.svg" alt="")
                  span Ethereum
                a(href="#")
                  img(src="img/icon-polygon.svg" alt="")
                  span Polygon

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              span 0xF21F0aF21F0aF21F0aF21F0a
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  span 0xF21F0aF21F0aF21F0aF21F0a
                a(href="#")
                  span 0xF21F0aF21F0aF21F0aF21F0a

  .staking__body
    .staking__body-head.is-big
      div

        .staking__toggle
          a.is-active(href="#") Market
          a(href="#") My preTokens

        .staking__form
          label
            input(type='text' name='' placeholder="Search...")
            a(href="#")
              i.icon-font.icon-search

      div

        .c-dropdown__wrapper
          a.c-dropdown__toggle(href="#")
            span Filter by
            i.icon-font.icon-chevron-down
          .c-dropdown
            div
              a(href="#")
                span Action 1
              a(href="#")
                span Action 2

        .c-dropdown__wrapper
          a.c-dropdown__toggle(href="#")
            span Sort by
            i.icon-font.icon-chevron-down
          .c-dropdown
            div
              a(href="#")
                span Price
              a(href="#")
                span Amount
              a(href="#")
                span Time Left

        .staking__switch
          p Listed
          label
            input(type='checkbox')
            span


    .staking__body-content

      .staking__table-container
        table.staking__table.staking__table--btnHide
          thead
            tr
              th Token Name
              th Amount
              th Status
              th
          tbody
            each val, idx in [1,2]
              tr
                td
                  u
                    img(src="img/circle-logo.svg" alt="")
                    span preRSIST
                td
                  p 345.00
                td
                  p Unlisted
                td
                  .c-btn__wrapper
                    a.c-btn.c-btn--bg(href="#") List Token

// SECTION :: END
