// SECTION :: START

section#playground.playground
  .playground__section
    .playground__section-left
      div

        a.playground__box(href="#" class!= classMod)
          .playground__box-top
            div
              img(src="img/circle-logo.svg" alt="")
              p preRSIST
            div
              span -14h 34m 35s
          .playground__box-head
            div
              .playground__box-visual
                img(src="img/img-venture.svg" alt="")
                p 100
          .playground__box-body
            ul
              li
                p Amount: 210.00
              li
                p!= "Reserve Price: <span class='green'>2000</span>"
          .playground__box-footer
            p
              span Current Bid:
              img(src="img/circle-logo.svg" alt="")
              span 1920.00

    .playground__section-right
      div

        h2.playground__title Connect your wallet to place a bid.

        .c-btn__wrapper.c-btn__wrapper--center
          a.c-btn.c-btn--bg(href="#") Connect Wallet

        a.playground__back(href="#") Back to Playground

// SECTION :: END
