// SECTION :: START

mixin playgroundBox(classMod)
  a.playground__box(href="#" class!= classMod)
    .playground__box-top
      div
        img(src="img/circle-logo.svg" alt="")
        p preRSIST
      div
        span -14h 34m 35s
    .playground__box-head
      div
        .playground__box-visual
          img(src="img/img-venture.svg" alt="")
          p 100
    .playground__box-body
      ul
        li
          p Amount: 210.00
        li
          p!= "Reserve Price: <span class='green'>2000</span>"
    .playground__box-footer
      p
        span Current Bid:
        img(src="img/circle-logo.svg" alt="")
        span 1920.00
      .c-btn__wrapper
        button.c-btn.c-btn--bg(type='button') Buy Now


section#staking.staking

  .staking__header
    .staking__header-wrapper
      div

        .logo.logo--staking
          a.logo__btn(href="#")
            img(src="img/logo-icon.svg" alt="")

        +hamburger()

      .staking__header-mobile(mobile-block-js)
        div

          nav.staking__header-nav
            a(href="#") Staking
            a.is-active(href="#") Playground
            a(href="#") Bridge
            a(href="#") Venture
            a(href="#") Toolkit

        div

          a.staking__header-btn(href="#") Buy $RSIST

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              img(src="img/icon-ethereum.svg" alt="")
              span Ethereum
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  img(src="img/icon-ethereum.svg" alt="")
                  span Ethereum
                a(href="#")
                  img(src="img/icon-polygon.svg" alt="")
                  span Polygon

          .c-dropdown__wrapper
            a.c-dropdown__toggle(href="#")
              span 0xF21F0aF21F0aF21F0aF21F0a
              i.icon-font.icon-chevron-down
            .c-dropdown
              div
                a(href="#")
                  span 0xF21F0aF21F0aF21F0aF21F0a
                a(href="#")
                  span 0xF21F0aF21F0aF21F0aF21F0a

  .staking__body
    .staking__body-head.is-big
      div

        .staking__toggle
          a.is-active(href="#") Market
          a(href="#") My preTokens

        .staking__form
          label
            input(type='text' name='' placeholder="Search...")
            a(href="#")
              i.icon-font.icon-search

      div

        .staking__btn.c-btn__wrapper
          a.c-btn(href="#playgroundFilter" data-effect='mfp-zoom-in' popup-js) Filters

        .c-dropdown__wrapper
          a.c-dropdown__toggle(href="#")
            span Sort by
            i.icon-font.icon-chevron-down
          .c-dropdown
            div
              a(href="#")
                span Price
              a(href="#")
                span Amount
              a(href="#")
                span Time Left

        .staking__switch
          p Listed
          label
            input(type='checkbox')
            span

    .staking__body-content

      .playground__box-container
        .playground__box-wrapper
          each val, idx in [1,2,3,4,5,6,7,8,9,10]
            div
              +playgroundBox('')

// SECTION :: END
